@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Roboto:ital,wght@0,300;0,400;1,100&display=swap");

* {
  /*pega todo site html*/
  margin: 0;
  padding: 0%;
  scroll-behavior: smooth;
}

body {
  max-width: 425px;
  width: 100%;
  overflow-x: hidden;
}
header {
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: black;
  width: 100%;
}

.nav-desktop {
  display: none;
}

.logoBmw {
  width: 50px;
  padding-left: 10px;
  opacity: 0.7;
}
nav {
  color: white;
}
li {
  list-style: none;
}

nav a {
  text-decoration: none;
  font-family: "roboto";
}
.menu__item:hover {
  background-color: #cfd8dc;
}

.titulo h1 {
  color: #171717;
  margin-top: 10px;
  font-size: 25px;
  padding: 10px;
  font-family: "Fira Sans", sans-serif;
}

.sub-titulo {
  color: #171717;
  font-size: 10px;
  padding: 10px;
  font-family: "Fira Sans", sans-serif;
  margin-top: -15px;
}
.botao {
  padding: 10px;
  margin-top: -13px;
}
.btn-card {
  border-radius: 25px;
  width: 100px;
  height: 25px;
  background-color: black;
  color: white;
  opacity: 0.8;
  font-family: "Fira Sans", sans-serif;
}
.background {
  max-width: 100%;
}

.video {
  padding: 10px;
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

footer {
  display: flex;
  padding: 0px 0px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 300px;
  background-color: black;
  color: white;
  gap: 10px;
  font-size: 14px;
}

footer div {
  padding: 10px 20px;
  width: 100%;
}

footer img {
  width: 20px;
}

#git {
  border-radius: 100%;
}
